    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Gilroy-Regular'), url('./src/assets/font/Gilroy-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Gilroy-Medium'), url('./src/assets/font/Gilroy-Medium.woff') format('woff');
    }

    @font-face {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Gilroy-Bold'), url('./src/assets/font/Gilroy-Bold.woff') format('woff');
    }

    .ppa-landing-page-tfp-banner-container {
        display: flex;
        flex-direction: row;
        border-radius: 2.459vw;
        padding: 2.778vw 1.389vw 2.778vw 2.778vw;
        gap: 2.778vw;
        background-color: #14171F;
    }

    .ppa-landing-page-tfp-container-right {
        display: flex;
        padding: 1.389vw;
        background: #292C33;
        border-radius: 1.389vw;
        gap: 2.431vw;
        /* justify-content: space-between; */
    }

    .ppa-landing-page-tfp-inner-container-right {
        display: flex;
        flex-direction: column;
        /* width: 20.328vw; */
        gap: 3.279vw;
        width: 19.583vw;
        /* height: 400px; */
        /* margin-top: 1.639vw;
        margin-left: 1.639vw; */
        /* justify-content: space-between; */

    }

    .ppa-landing-page-tfp-mode-of-class {
        display: flex;
        flex-direction: row;
        gap: 0.278vw;
        width: 12.131vw;
        border-radius: 0.492vw;
        padding: 0.556vw 1.389vw;
        background-color: #fde68a;
    }

    .ppa-landing-page-tfp-star-image {
        width: 1.639vw;
    }

    .ppa-landing-page-tfp-mode-of-class-txt {
        font-family: Gilroy-SemiBold;
        font-size: 0.694vw;
        font-weight: 400;
        line-height: 0.833vw;
        letter-spacing: 0.02em;
        text-align: left;
        color: #D97706;
    }

    .ppa-landing-page-tfp-inner-container-right-logoTitle {
        display: flex;
        /* height: 17.377vw; */
        flex-direction: column;
        gap: 1.639vw;
    }

    /* .ppa-landing-page-tfp-logo {
        display: flex;
        flex-direction: row;
        width: 12.787vw;
    } */

    .ppa-landing-page-tfp-logo-img {
        width: 12.787vw;
        height: 1.967vw;
    }

    .ppa-landing-page-tfp-logo-heading {
        font-family: Gilroy-Bold;
        font-size: 3.333vw;
        font-weight: 400;
        line-height: 3.889vw;
        letter-spacing: 0.04em;
        color: #F8FAFC;
    }

    .ppa-landing-page-tfp-inner-container-left {
        display: flex;
        /* width: 20.328vw; */
        /* height: 400px; */
        /* margin-top: 1.639vw;
        margin-left: 1.639vw; */
        gap: 0.556vw;
        flex-direction: column;
    }

    .ppa-landing-page-tfp-row {
        display: flex;
        gap: 0.486vw;
    }

    .ppa-landing-page-tfp-row img {
        width: 8.4vw;
    }

    .ppa-landing-page-tfp-container-left {
        display: flex;
        width: 45.082vw;
        /* height: 440px; */
        /* border-radius: 1.639vw; */
        flex-direction: column;
        gap: 1.639vw;
    }

    .ppa-landing-page-tfp-title {
        display: flex;
        justify-content: center;
        width: 45.082vw;
        /* height: 116px; */
        flex-direction: column;
        gap: 0.556vw;
    }

    .ppa-landing-page-tfp-title-heading{
        font-family: Gilroy-Bold;
        font-size: 2.778vw;
        font-weight: 400;
        line-height: 3.611vw;
        letter-spacing: 0.04em;
        text-align: left;
        color: #F8FAFC;
    }

    .ppa-landing-page-tfp-title-txt {
        width: 42vw;
        color: #F8FAFC;
        font-family: Gilroy-Regular;
        font-size: 1.389vw;
        font-weight: 400;
        line-height: 1.944vw;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .ppa-landing-page-tfp-features {
        display: flex;
        gap: 0.984vw;
        flex-direction: column;
    }

    .ppa-landing-page-tfp-list-of-features {
        display: flex;
        flex-direction: row;
        gap: 0.984vw;

    }

    .ppa-landing-page-tfp-list-box {
        display: flex;
        border-radius: 2.623vw;
        gap: 0.656vw;
        padding: 0.833vw 1.667vw;
        background-color: #292c33;
    }

    .ppa-landing-page-tfp-list-txt {
        font-family: Gilroy-Medium;
        font-size: 1.11vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.02em;
        text-align: left;
        color: #faf8fc;
    }

    .ppa-landing-page-tfp-more-details {
        display: flex;
        width: 41.393vw;
        /* height: 84px; */
        gap: 0.833vw;
        flex-direction: column;
    }

    button {
        width: 16.597vw;
        /* height: 48px; */
        border-radius: 0.492vw;
        background-color: #3940A0;
        padding: 0.833vw 0vw;
        text-align: center;
        border: none;
        text-align: center;
        cursor: pointer;
    }

    .ppa-landing-page-tfp-button-txt {
        font-family: Gilroy-Bold;
        font-size: 1.11vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .ppa-landing-page-tfp-more-details-txt {
        font-family: Gilroy-Medium;
        font-size: 1.11vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F8FAFC;
    }